<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task Manager</title>
    <link rel="stylesheet" type="text/css" href="validation style.css"> <!-- Link to your CSS file -->
</head>
<body class="body">
    


    <div class="side-panel">
    <form action="/login">
    <div class="checklogo"></div>
    <p class="notice">Le compte a ete cree avec succes</p>

    <button class="boutonsigne" type="submit">Se connecter</button>
    </form >
    </div>
</body>
</html>    


	

	
