body {
  background-image: linear-gradient(to right, rgb(238, 113, 255) , rgb(98, 0, 255));
  background-color: #cccccc;

 }
.page-title {
  text-align: center;
  font-size: 2em;
  margin: 20px 0;
}
.side-panel {
  width: 300px;
  height: 200px;
  background-color: rgb(21, 24, 65);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  left: 19.5cm;
  top: 160px;
}

.underpanel
{

  width: 130px;
  height: 350px;
  background-color: rgb(21, 24, 65);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  left: 1cm; 
  top: 150px;

}


.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  position:relative; 
  left:50px; 
  /* Add your logo image path here */
  background-image: url('flash.png');
  background-size: cover;

  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}




.client {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  position:relative; 
  left:-40px; 
  background-image: url('client.png');
  background-size: cover;
  top: 20px;
}


.projet {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  position:relative; 
  left:-40px; 
  
  background-image: url('projet.png');
  background-size: cover;
  top: 9px;
}

.btn_sidepanel_client { 
  position:relative; 
  left:10px;
  top: -45px;
  border: none;
  background-color: rgb(21, 24, 65);
  color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

.btn_sidepanel_client:hover{
color: orange;
}



.btn_sidepanel_projet { 
  position:relative; 
  left:10px;
  top: -60px;
  border: none;
  background-color: rgb(21, 24, 65);
  color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

.btn_sidepanel_projet:hover{
color: orange;
}




.btn_sidepanel_employer { 
  position:relative; 
  left:10px;
  top: -65px;
  border: none;
  background-color: rgb(21, 24, 65);
  color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}


.btn_sidepanel_employer:hover{
color: orange;
}

.employer {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  position:relative; 
  left:-40px; 
  background-image: url('employer.png');
  background-size: cover;
  top: -0px;
}

.logo_dxc {
  width: 220px;
  height: 120px;
  margin-bottom: 20px;
  position:relative; 
  left:580px; 
  /* Add your logo image path here */
  background-image: url('dxc.svg.png');
  background-size: cover;
  top: -295px;
}

.btn_sidepanel_deconnecter {
  position:relative; 
  left:3px;
  top: -90px;
  border: none;
  background-color: rgb(21, 24, 65);
  color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  right: 50px;
}

.btn_sidepanel_deconnecter:hover{
  color: green;
  }
  


.se_deconnecter_logo{
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  position:relative; 
  left:-43px; 
  background-image: url('logout.png');
  background-size: cover;
  top: -10px;
}


.main_panel{

  width: 750px;
  height: 600px;
  background-color: whitesmoke;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  left: 9cm; 
  top:-2px;

}

.mainimg{
  width: 350px;
  height: 400px;
  margin-bottom: 20px;
  position:relative;  
  /* Add your logo image path here */
  background-image: url('imgmain.jpeg');
  background-size: cover;
  top: 80px;
  left: 400px;
  border-radius: 10px;

}

.mainwriting{
  width: 300px;
  height: 600px;
  background-color: black;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  right: 12cm; 
  top:0px;
}

.para{
  font-family: FontAwesome;
  color: rgb(220, 79, 255);
  padding: 50px;
  margin-bottom: 20px;
  line-height: 1.6;
}


.signuppanel{
  width: 500px;
  height: 500px;
  background-color: rgb(21, 24, 65);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  left: 17cm;
  top: 200px;
}

.loginimg{
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  position:relative; 
  left:5.7cm; 
  /* Add your logo image path here */
  background-image: url('signin.png');
  background-size: cover;
  top: 7px;

}

.label_nom{
  color: orange;
  position: relative;
  left: 0.9cm;
  top: 2cm;
}

.nom_controle{
  
  position: relative;
  left: 1.1cm;
  top: 2cm;
  border-radius: 10px;
}


.label_prenom{
  color: orange;
  position: relative;
  left: -5.50cm;
  top: 3cm;
}

.prenom_controle{

  position: relative;
  left: -5.38cm;
  top: 3cm;
  border-radius: 10px;
}


.label_email{
  color: orange;
  position: relative;
  left: -1.1cm;
  top: 3.5cm;
}

.email_controle{
  position: relative;
  left: -0.6cm;
  top: 3.5cm;
  border-radius: 10px;
  
}

.label_mdp{
  color: orange;
  position: relative;
  left: -8.5cm;
  top: 4.5cm;
}

.mdp_controle{
  position: relative;
  left: 2.3cm;
  top: 3.9cm;
  border-radius: 10px;
}

.label_role{
  color: orange;
  position: relative;
  left: -4.3cm;
  top: 5cm;
  font-weight: bold;
}

.employer{
  color: orange;
  position: relative;
  left: -3.1cm;
  top: 6cm;
}

.chef{
  color: orange;
  position: relative;
  left: -1.1cm;
  top: 6cm;
}

.radio1{
  position: relative;
  left: -3.5cm;
  top: 6cm;
}

.radio2{
  position: relative;
  left: -1.5cm;
  top: 6cm;
}



.dxcimage{
  width: 220px;
  height: 120px;
  margin-bottom: 20px;
  position:relative; 
  left:21cm; 
  /* Add your logo image path here */
  background-image: url('dxc.svg.png');
  background-size: cover;
  top: 1cm;
}

.boutonsigne{
  float: right;
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #49c628a6;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
    top: 3.5cm;
    position: relative;
    right: 1.8cm;
}


.notice{
  color: #fff;
  position: relative;
  top: 2cm;
  left: -0.01cm;
}

.checklogo{

  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  position:relative; 
  left:2.68cm; 
  /* Add your logo image path here */
  background-image: url('checked.png');
  background-size: cover;
  top: 1cm;
}